@use 'src/style/breakpoints';

.container {
  display: flex;
  flex-flow: column;
  place-items: center;
  place-content: center;

  margin: 0 auto;
  overflow: hidden;

  .imageItem {
    height: auto;
  }

  .videoItem {
    height: auto;
    max-height: calc(100svh - 200px);
  }
}

.videoStats {
  display: flex;
  flex-flow: column;
  margin-left: auto;

  justify-content: space-between;
  padding: 16px;
  margin-top: 10px;
  background-color: var(--c-bg-paper);
  border-radius: 8px;

  @include breakpoints.onlyMobile {
    width: 100%;
  }
}
