@use 'src/style/breakpoints';

.relativeWrapper {
  overflow: hidden;
  position: relative;
}

.imageItem {
  height: auto;
  margin: auto;
}

.blurPlaceholderBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: blur(40px) saturate(1.5) brightness(0.5);
}

.videoItem {
  height: auto;
  max-height: calc(100svh - 200px);
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
