[Unit]
Description=Cerebro Next Service
After=network.target

[Service]
User=agentuser
Group=agentuser
WorkingDirectory=/app/cerebro/apps/web
ExecStart=/home/agentuser/.bun/bin/bun run start
Restart=always
RestartSec=2
Environment=NODE_ENV=production

# Other
SyslogIdentifier=cerebro_next

# Security/Sandboxing
# ProtectSystem=full
# ProtectHome=yes
# PrivateTmp=yes
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
