$layer-1: 1;
$layer-2: 2;
$layer-navbar: 3;

@mixin container() {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 16px;

  // Px value has to be same as useShowDrawer.ts
  @media (min-width: 1280px) {
    max-width: 1280px;
  }
}
