.body1 {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  color: var(--c-text);
}

.body2 {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  color: var(--c-textSecondary);
}

.h1 {
  font-size: 3.75rem; /* 60px */
  line-height: 1;
  font-weight: 500;
}

.h3 {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}
