.progressBar {
  width: 100%;

  .label {
    transition: color 0.3s;
  }

  .bar {
    background-color: var(--c-bg-paper);
    border-radius: 16px;
    height: 32px;
    overflow: hidden;
    position: relative;

    transition: background-color 0.3s;
    transition-timing-function: ease-out;

    .progress {
      background-color: var(--c-primary);
      height: 100%;
      transition:
        width 0.3s,
        background-color 0.3s;
      transition-timing-function: ease-out;
    }
  }

  &.isLoading {
    .label {
      color: var(--c-textSecondary);
    }

    .bar {
      background-color: var(--c-bg-paper);
    }

    .bar .progress {
      background-color: var(--c-bg-paper);
    }
  }
}
