.imgAndDescFlex {
  position: relative;

  padding: var(--mantine-spacing-md);
  overflow: clip;
  border-radius: var(--mantine-radius-md);
  background-color: var(--mantine-color-dark-9);

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* Absolute image fading from right to left */
.foodImg {
  position: absolute;
  top: 50%;
  right: 0;
  height: 200%;
  max-width: 80%;
  transform: translateY(-50%);
  object-fit: cover;

  /* Fading from right to left */
  mask-image: linear-gradient(to right, transparent, black 80%);
  opacity: 0.75;

  z-index: 0;
}

.foodDesc {
  position: relative;
  z-index: 1;
}
