@use 'src/style/breakpoints';

.StatsFromLink {
  align-self: center;
  transition: opacity 0.2s ease-in-out;

  &.error {
    color: var(--mantine-color-red-8);
    border: solid 1px var(--mantine-color-red-8);
  }

  &.isFetching {
    opacity: 0.5;
  }
}
